.btn {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: #111;
    color: white;
    font-size: 18px;
    transition: 0.3s;

    /* rainbow border */
    background-image: linear-gradient(#111, #30216c),
        linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.btn:hover {
    transform: scale(1.1);
}

.introbox {
     
    width: 500px;
    padding: 20px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px;
    margin: 50px auto;
    border: 4px solid transparent;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    


    /* rainbow border */
    background-image: linear-gradient(#000000, #30216c),
        linear-gradient(90deg, red, blue);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}
.questionbox {
     
    width: 1000px;
    padding: 20px;
    background: rgb(255, 255, 255);
    text-align: justify;
    border-radius: 15px;
    margin: 50px auto;
    border: 4px solid transparent;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    



    background-image: linear-gradient(#000000, #30216c),
        linear-gradient(90deg, blue, violet);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}
.asnwerbox {
     
    width: 1250px;
    padding: 50px;
    background: rgb(255, 255, 255);
    text-align: justify;
    border-radius: 15px;
    margin: 50px auto;
    border: 4px solid transparent;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    


    background-image: linear-gradient(#000000, #30216c),
        linear-gradient(90deg, blue, violet);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}